@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/*variables, mixins et %placeholder*/
/*$breakpoints: (
    tablette : 768px,
    desktop : 1024px
);*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
  margin-left: 3px;
}

/*@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints,  tablette)) {
        grid-template-columns: 1fr;
    }
}
.description {
    display: grid;
    @include mobile-only;
    @include tablette-only;
}
.card-restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mobile-only;
    @include tablette-only;
}
@mixin tablette-only {
    @media screen and (max-width : map-get($breakpoints, desktop)) {
        grid-template-columns: 2fr;
    }
}*/
#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-animation: cacherLeLoader 4s forwards linear;
          animation: cacherLeLoader 4s forwards linear;
}

#preloader .circles {
  width: 150px;
  height: 150px;
}

#preloader .circles .circle {
  width: 100%;
  height: 100%;
  border: solid 10px #9356dc;
  border-radius: 50%;
  border-top: solid 10px #ff79da;
  border-left: solid 10px #99e2d0;
  -webkit-animation: rotation 4s forwards linear;
          animation: rotation 4s forwards linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cacherLeLoader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cacherLeLoader {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*header et footer*/
header .logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 21px;
}

header .logo-header img {
  width: 148px;
  height: 36px;
  padding-bottom: 10px;
}

header .localisation {
  background-color: #eaeaea;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .fas {
  color: black;
}

footer {
  background-color: #535353;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  padding-top: 10px;
}

footer a {
  color: white;
  margin-left: 13px;
  text-decoration: none;
}

footer span.logo-footer {
  font-family: "Shrikhand",cursive;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-left: 10px;
}

footer .menu-footer {
  padding: 0px 27px 0px 27px;
}

footer .menu-liste {
  padding: 15px 15px;
}

/*variables, mixins et %placeholder*/
/*$breakpoints: (
    tablette : 768px,
    desktop : 1024px
);*/
/*boutons*/
.button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
  margin-bottom: 55px;
  width: 220px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  background: -webkit-gradient(linear, right bottom, left top, from(#FF79da), to(#9356DC));
  background: linear-gradient(to left top, #FF79da, #9356DC);
  border: none;
}

.description {
  padding-left: 2rem;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background-color: #f6f6f6;
}

.description h1 {
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  text-align: center;
}

.description p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.99em;
  margin-top: 20px;
  text-align: center;
}

.fonctionnement {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fonctionnement .bloc-choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 18px;
}

.fonctionnement .bloc-choix .choix-numero {
  background-color: #9356DC;
  border-radius: 100px;
  position: absolute;
  left: -4%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: white;
  font-size: 17px;
}

.fonctionnement .bloc-choix i {
  padding-left: 22px;
  width: 20px;
  color: #7e7e7e;
}

.fonctionnement .choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 5px 8px 20px -1px rgba(0, 0, 0, 0.55);
          box-shadow: 5px 8px 20px -1px rgba(0, 0, 0, 0.55);
  margin: 20px;
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 37px;
  padding-bottom: 28px;
  border-radius: 20px;
}

.fonctionnement .choix:hover {
  background-color: rgba(147, 86, 220, 0.15);
}

.fonctionnement .choix:hover i {
  color: #9356DC;
}

.fonctionnement .choix .text-icon {
  margin-left: 28px;
}

/*card*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

main .card {
  width: 367px;
  position: relative;
  border-radius: 12px;
  margin-bottom: 19px;
  -webkit-box-shadow: 0px 10px 33px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 33px -2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}

main .card img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

main .card .card-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  padding-right: 23px;
}

main .card .card-new {
  position: absolute;
  top: 11px;
  right: 11px;
  background-color: #99E2D0;
  color: #008766;
  padding: 9px;
  border-radius: 4px;
}

main .cards-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 25px;
}

main .cards-restaurant .favoris {
  position: relative;
  margin-right: 20px;
}

main .cards-restaurant i {
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

main .cards-restaurant .coeur-plein {
  color: #ff79da;
}

main .cards-restaurant .coeur-contour {
  font-size: 21px;
  z-index: 2;
  color: black;
}

main .cards-restaurant .favoris:hover .carre {
  top: 1rem;
}

main .cards-restaurant .carre {
  height: 1.2rem;
  font-size: 23px;
  z-index: 1;
  color: #f6f6f6;
  vertical-align: text-bottom;
  -webkit-transition: top 2s ease-in-out;
  transition: top 2s ease-in-out;
}

main .restaurants {
  width: 99%;
  margin-bottom: 64px;
  margin-left: 3px;
  background-color: #f6f6f6;
}

/*variables, mixins et %placeholder*/
/*$breakpoints: (
    tablette : 768px,
    desktop : 1024px
);*/
/*pages pour les restaurants*/
.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 29px;
}

.entete .fleche {
  margin-right: 65px;
  margin-left: 25px;
}

.entete .logo img {
  width: 160px;
  height: 23px;
}

.photo-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-restaurant img {
  width: 376px;
  height: 40vh;
  margin-top: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(../images/restaurants/la-palette-du-gout.jpg);
  background-image: url(../images/restaurants/la-note-enchantee.jpg);
}

.fiche-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #f6f6f6;
  border-radius: 40px 40px 0;
  margin-top: -60px;
  position: absolute;
}

.fiche-resto .menu {
  margin-left: 13px;
}

.fiche-resto .titre-et-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  padding: 12px;
  padding-right: 23px;
}

.fiche-resto .titre-et-coeur .favoris {
  position: relative;
}

.fiche-resto .titre-et-coeur i {
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.fiche-resto .titre-et-coeur .coeur-plein {
  color: #ff79da;
}

.fiche-resto .titre-et-coeur .coeur-contour {
  font-size: 21px;
  z-index: 2;
  color: black;
}

.fiche-resto .titre-et-coeur .favoris:hover .carre {
  top: 1rem;
}

.fiche-resto .titre-et-coeur .carre {
  height: 1.2rem;
  font-size: 23px;
  z-index: 1;
  color: #f6f6f6;
  vertical-align: text-bottom;
  -webkit-transition: top 2s ease-in-out;
  transition: top 2s ease-in-out;
}

.fiche-resto .titre-fiche {
  font-size: 1.6em;
  padding-top: 33px;
  margin-left: 22px;
}

.fiche-resto .menu-titre {
  padding-bottom: 7px;
  margin-top: 25px;
  margin-left: 10px;
}

.fiche-resto p {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.fiche-resto p .plats {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.fiche-resto p:after {
  content: "";
  position: absolute;
  width: 64%;
  height: 4px;
  bottom: 0;
  left: -1%;
  border-bottom: 4px solid #99e2d0;
}

.fiche-resto .plats:after {
  content: "";
  position: absolute;
  width: 87%;
  height: 4px;
  bottom: 0;
  left: -1%;
  border-bottom: 4px solid #99e2d0;
}

.fiche-resto .card-menu {
  opacity: 0;
  height: 65px;
  position: relative;
  -webkit-animation: apparition 2s ease-in-out forwards;
          animation: apparition 2s ease-in-out forwards;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 350px;
  border-radius: 20px;
  background: white;
  -webkit-box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px;
}

.fiche-resto .card-menu:hover .choix-hidden {
  right: 0;
}

.fiche-resto .card-menu .card-texte {
  width: 90%;
}

.fiche-resto .card-menu .card-accompagnement {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fiche-resto .card-menu:hover .card-texte {
  width: 70%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.fiche-resto .card-menu .card-nom {
  margin-bottom: 5px;
}

.fiche-resto .card-menu .card-accompagnement {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fiche-resto .card-menu .choix-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 1s ease-in-out;
  transition: right 1s ease-in-out;
  position: absolute;
  right: -57px;
  width: 58px;
  background: #99e2d0;
  height: 67px;
  top: 0;
}

.fiche-resto .card-menu .choix-hidden i {
  color: white;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.fiche-resto .apparition1 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.fiche-resto .apparition2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fiche-resto .apparition3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fiche-resto .apparition4 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.fiche-resto .apparition5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fiche-resto .apparition6 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fiche-resto .apparition7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.fiche-resto .apparition8 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fiche-resto .apparition9 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fiche-resto:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 55px;
  width: 220px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  background: -webkit-gradient(linear, right bottom, left top, from(#FF79da), to(#9356DC));
  background: linear-gradient(to left top, #FF79da, #9356DC);
  border: none;
  color: white;
  font-size: medium;
}

footer {
  background-color: #535353;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer a {
  color: white;
  margin-left: 13px;
  text-decoration: none;
}

footer .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*padding: 27px 27px;*/
  /*img {
            width: 96px;
        }*/
}

footer .menu-liste {
  padding: 15px 15px;
}

@media (min-width: 1023px) {
  /* version desktop*/
  .fonctionnement {
    padding-left: 100px;
    padding-right: 100px;
  }
  .fonctionnement .bloc-choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement .bloc-choix .choix {
    min-width: 325px;
  }
  .card-menus {
    width: 98% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-menus .card-menu {
    max-width: 370px;
  }
  .restaurants {
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 22px;
    width: 100%;
  }
  .restaurants img {
    width: 100%;
  }
  main .cards-restaurant {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card {
    width: 450px !important;
  }
  .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
  }
  .menu-footer .logo-footer img {
    margin: 20px;
  }
}

@media (min-width: 768px) {
  /*version tablette*/
  .fonctionnement {
    margin: 20px;
  }
  .card-menus {
    width: 100%;
  }
  .fiche-resto .card-menu {
    width: 98%;
  }
  main .card {
    width: 100%;
  }
  .cards-restaurant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-restaurant img {
    width: 100%;
  }
  .photo-restaurant img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */