@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import "utils";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    margin:auto;
}
h1,
h2,
h3{
    font-family: "Shrikhand", cursive;
    margin-left: 3px;
}

/*@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints,  tablette)) {
        grid-template-columns: 1fr;
    }
}
.description {
    display: grid;
    @include mobile-only;
    @include tablette-only;
}
.card-restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mobile-only;
    @include tablette-only;
}
@mixin tablette-only {
    @media screen and (max-width : map-get($breakpoints, desktop)) {
        grid-template-columns: 2fr;
    }
}*/

