@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import "utils";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
h1,h2,h3 {
    font-family: "Shrikhand", cursive;
    margin-left: 3px;
}

@mixin tablette-only {
    @media screen and (max-width:768px( $breakpoints)) {
        @content;
    }
}
.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card-restaurant{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include tablette-only

}

