@import "utils";

/*boutons*/
.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 55px;
    margin-left: 80px;
    width: 220px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(
        175deg,
        $couleurSecondaire 10%,
        $couleurPrimaire 95%
    );
    transition: box-shadow 150ms linear, transform 150ms linear;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.description {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: rgba(246, 246, 246, 246);

    h1 {
        font-size: 1.3em;
        margin-left: 64px;
        margin-right: 80px;
        margin-top: 43px;
    }
    p {
        justify-content: center;
        align-items: center;
        font-size: 0.99em;
        margin-left: 39px;
        margin-right: 29px;
        margin-top: 20px;
    }
}


.fonctionnement {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    
    .bloc-choix {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 18px;

        .choix-numero {
            background-color: $couleurPrimaire;
            border-radius: 100px;
            position: absolute;left: -4%;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
        }
    i{
        padding-left:  22px;
        width: 20px;
        color: rgb(126, 126, 126);
    }
    }
    .choix{
        display: flex;
        position: relative;
        box-shadow: 5px 8px 20px -1px rgba(0,0,0,0.55);
        margin: 20px;
        padding-top: 39px;
        padding-bottom:22px ;
        border-radius: $borderRadius;
    &:hover{
        background-color: rgba($couleurPrimaire,0.15);
        i{
            color: $couleurPrimaire;
        }
    }
        .text-icon{
            margin-left: 28px;
        }
    }
}

/*card*/

main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    .card {
        position: relative;
        border-radius:$borderRadiusRestaurant;
        margin-bottom: 15px;
        box-shadow: 0px 10px 33px -2px rgba(0, 0, 0, 0.5);

        img {
            width: 335px;
            height: 174px;
            object-fit: cover;
            border-top-left-radius: $borderRadiusRestaurant;
            border-top-right-radius: $borderRadiusRestaurant;
        }
        .card-detail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            padding-right: 23px;
        }
        .card-new {
            position: absolute;
            top: 11px;
            right: 11px;
            background-color: $couleurTertiaire;
            color: rgba(0, 135, 102, 1);
            padding: 9px;
            border-radius: 4px;
        }
    }

    .cards-restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
    }
    .restaurants {
        width: 100%;
        height: 1226px;
        margin-left: 19px;
        background-color: rgba(246, 246, 246, 246);
    }
}
