@import "utils";

/*boutons*/
.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 55px;
    width: 220px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(
        to left top,
        $couleurSecondaire,
        $couleurPrimaire
    );
    border: none;
}
.button1:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 43px 10px rgba(0, 0, 0, 0.6);
}
.description {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    margin: auto;
    background-color: rgba(246, 246, 246, 246);
    h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.3em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 43px;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.99em;
        }
    }
    p {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.1em;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.99em;
        }
    }
}

.fonctionnement {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 48px;

    .bloc-choix {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 18px;

        .choix-numero {
            background-color: $couleurPrimaire;
            border-radius: 100px;
            position: absolute;
            left: -4%;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            color: white;
            font-size: 17px;
        }
        i {
            padding-left: 22px;
            width: 20px;
            color: rgb(126, 126, 126);
        }
    }
    .choix {
        display: flex;
        position: relative;
        box-shadow: 5px 8px 20px -1px rgba(0, 0, 0, 0.55);
        margin: 20px;
        font-weight: 600;
        font-size: 1.1rem;
        padding-top: 37px;
        padding-bottom: 28px;
        border-radius: $borderRadius;
        &:hover {
            background-color: rgba($couleurPrimaire, 0.15);
            i {
                color: $couleurPrimaire;
            }
        }
        .text-icon {
            margin-left: 28px;
        }
    }
}

/*card*/

main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #f6f6f6;
    .card {
        width: 367px;
        position: relative;
        border-radius: $borderRadiusRestaurant;
        margin-bottom: 19px;
        box-shadow: 0px 10px 33px -2px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        color: black;

        img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-top-left-radius: $borderRadiusRestaurant;
            border-top-right-radius: $borderRadiusRestaurant;
        }
        .card-detail {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            padding-right: 23px;
        }
        .card-new {
            position: absolute;
            top: 11px;
            right: 11px;
            background-color: $couleurTertiaire;
            color: rgba(0, 135, 102, 1);
            padding: 9px;
            border-radius: 4px;
        }
    }

    .cards-restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 25px;

        .favoris {
            position: relative;
            margin-right: 20px;
        }
        i {
            font-size: 21px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
        }
        .coeur-plein {
            color: #ff79da;
        }
        .coeur-contour {
            font-size: 21px;
            z-index: 2;
            color: black;
        }
        .favoris:hover .carre {
            top: 1rem;
        }
        .carre {
            height: 1.2rem;
            font-size: 23px;
            z-index: 1;
            color: #f6f6f6;
            vertical-align: text-bottom;
            transition: top 2s ease-in-out;
        }
    }
    .restaurants {
        width: 99%;
        margin-bottom: 64px;
        margin-left: 3px;
        background-color: rgba(246, 246, 246, 246); 
        padding-top: 40px;     
    }
}
