/*header et footer*/
header {
    .logo-header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 21px;

        img {
            width: 160px;
            height: 23px;
        }

        .localisation {
            background-color: rgb(234, 234, 234);
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
footer {
    background-color: #535353;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    

    a {
        color: white;
        margin-left: 13px;
        text-decoration: none;
    }
    .logo-footer {
        display: flex;
        padding: 27px 27px;
        img {
            width: 96px;
            height: 15px;
        }
    }
    .menu-liste {
        padding: 15px 15px;
    }
}
