#preloader{
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: white;
animation: cacherLeLoader 5s forwards linear;

}
@keyframes cacherLeLoader{
    0% {opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}