/*pages pour les restaurants*/

.entete {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 29px;

    .fleche {
        margin-right: 65px;
        margin-left: 25px;
    }
    .logo {
        img {
            width: 160px;
            height: 23px;
        }
    }
}
.photo-restaurant {
    img {
        width: 376px;
        height: 40vh;
        margin-top: 18px;
        object-fit: cover;
        background-image: url(../images/restaurants/la-palette-du-gout.jpg);
    }
}
.fiche-resto {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(246, 246, 246, 246);
    border-radius: 40px 40px 0;
    margin-top: -60px;
    position: absolute;

    .menu {
        margin-left: 13px;
    }
    .titre-et-coeur {
        display: flex;
        flex-wrap: wrap;
    }
    .titre-fiche {
        font-size: 1.6em;
        padding-top: 33px;
        margin-left: 22px;
    }
    .menu-titre {
        padding-bottom: 7px;
        margin-top: 25px;
        margin-left: 10px;
    }

    p {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
        .plats {
            font-weight: 300;
            display: inline-block;
            padding-bottom: 5px;
            position: relative;
        }
    }
    p:after {
        content: "";
        position: absolute;
        width: 64%;
        height: 4px;
        bottom: 0;
        left: -1%;
        border-bottom: 4px solid rgb(153, 226, 208);
    }
    .plats:after {
        content: "";
        position: absolute;
        width: 87%;
        height: 4px;
        bottom: 0;
        left: -1%;
        border-bottom: 4px solid rgb(153, 226, 208);
    }
    .card-menu {
        opacity: 0;
        height: 65px;
        position: relative;
        animation: apparition 2s ease-in-out forwards;
        &:hover .choix-hidden {
            right: 0;
        }
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        width: 350px;
        border-radius: 20px;
        background: white;
        box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 12px;
        .card-texte {
            width: 90%;
        }
        .card-accompagnement {
            //height: 17px;
            word-wrap: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover .card-texte {
            width: 70%;
            transition: width 1s ease-in-out;
            transition-delay: 2s;
        }
        .card-nom {
            margin-bottom: 5px;
        }

        .card-accompagnement {
            justify-content: flex-start;
        }
        .choix-hidden {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: right 1s ease-in-out;
            position: absolute;
            right: -57px;
            width: 58px;
            background: rgb(153, 226, 208);
            height: 67px;
            top: 0;

            i {
                color: white;
                transition: transform 1s ease-in-out;
            }
        }
    }
    .apparition1{
        animation-delay: 0;
    }
    .apparition2{
        animation-delay: 1s;
    }
    .apparition3{
        animation-delay: 2s;
    }

    &:hover i {
        transform: rotate(360deg);
    }
}
@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 55px;
    margin-left: 59px;
    width: 220px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(
        to left top,
        $couleurSecondaire,
        $couleurPrimaire
    );
    border: none;
    color: white;
    font-size: medium;
}
footer {
    background-color: #535353;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    position: relative;
    justify-content: flex-end;

    a {
        color: white;
        margin-left: 13px;
        text-decoration: none;
    }
    .logo-footer {
        display: flex;
        padding: 27px 27px;
        img {
            width: 96px;
            height: 15px;
        }
    }
    .menu-liste {
        padding: 15px 15px;
    }
}
