/*pages pour les restaurants*/

.entete {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 29px;

    .fleche {
        margin-right: 65px;
        margin-left: 25px;
    }
    .logo {
        img {
            width: 160px;
            height: 23px;
        }
    }
}
.photo-restaurant {
    display: flex;
    justify-content: center;
    img {
        width: 376px;
        height: 40vh;
        margin-top: 18px;
        object-fit: cover;
        background-image: url(../images/restaurants/la-palette-du-gout.jpg);
        background-image: url(../images/restaurants/la-note-enchantee.jpg);
    }
}
.fiche-resto {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(246, 246, 246, 246);
    border-radius: 40px 40px 0;
    margin-top: -60px;
    position: absolute;

    .menu {
        margin-left: 13px;
    }
    .titre-et-coeur {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        padding: 12px;
        padding-right: 23px;

        .favoris {
            position: relative;
        }
        i {
            font-size: 21px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
        }
        .coeur-plein {
            color: #ff79da;
        }
        .coeur-contour {
            font-size: 21px;
            z-index: 2;
            color: black;
        }
        .favoris:hover .carre {
            top: 1rem;
        }
        .carre {
            height: 1.2rem;
            font-size: 23px;
            z-index: 1;
            color: #f6f6f6;
            vertical-align: text-bottom;
            transition: top 2s ease-in-out;
        }
    }
    .titre-fiche {
        font-size: 1.6em;
        padding-top: 33px;
        margin-left: 22px;
    }
    .menu-titre {
        padding-bottom: 7px;
        margin-top: 25px;
        margin-left: 10px;
    }

    p {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
        .plats {
            font-weight: 300;
            display: inline-block;
            padding-bottom: 5px;
            position: relative;
        }
    }
    p:after {
        content: "";
        position: absolute;
        width: 64%;
        height: 4px;
        bottom: 0;
        left: -1%;
        border-bottom: 4px solid rgb(153, 226, 208);
    }
    .plats:after {
        content: "";
        position: absolute;
        width: 87%;
        height: 4px;
        bottom: 0;
        left: -1%;
        border-bottom: 4px solid rgb(153, 226, 208);
    }
        .card-menu {
        opacity: 0;
        height: 65px;
        position: relative;
        animation: apparition 2s ease-in-out forwards;
        &:hover .choix-hidden {
            right: 0;
        }
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        width: 350px;
        border-radius: 20px;
        background: white;
        box-shadow: 1px 1px 9px 5px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 12px;
        .card-texte {
            width: 90%;
        }
        .card-accompagnement {
            word-wrap: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover .card-texte {
            width: 70%;
            transition: width 1s ease-in-out;
            /*transition-delay: 1s;*/
        }
        .card-nom {
            margin-bottom: 5px;
        }

        .card-accompagnement {
            justify-content: flex-start;
        }
        .choix-hidden {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: right 1s ease-in-out;
            position: absolute;
            right: -57px;
            width: 58px;
            background: rgb(153, 226, 208);
            height: 67px;
            top: 0;

            i {
                color: white;
                transition: transform 1s ease-in-out;
            }
        }
    }
    .apparition1 {
        /*animation-delay: 0;*/
    }
    .apparition2 {
        animation-delay: 1s;
    }
    .apparition3 {
        animation-delay: 2s;
    }
    .apparition4 {
        animation-delay: 0s;
    }
    .apparition5 {
        animation-delay: 1s;
    }
    .apparition6 {
        animation-delay: 2s;
    }
    .apparition7 {
        animation-delay: 0s;
    }
    .apparition8 {
        animation-delay: 1s;
    }
    .apparition9 {
        animation-delay: 2s;
    }

    &:hover i {
        transform: rotate(360deg);
    }
}
@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 55px;
    width: 220px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(
        to left top,
        $couleurSecondaire,
        $couleurPrimaire
    );
    border: none;
    color: white;
    font-size: medium;
}
button:hover{
    opacity: 0.8;
    box-shadow: 0px 5px 43px 10px rgba(0,0,0,0.6);
}

footer {
    background-color: #535353;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    position: relative;
    justify-content: flex-end;

    a {
        color: white;
        margin-left: 13px;
        text-decoration: none;
    }
    .logo-footer {
        display: flex;
        /*padding: 27px 27px;*/
        /*img {
            width: 96px;
        }*/
    }
    .menu-liste {
        padding: 15px 15px;
    }
}
@media (min-width: 1023px) {
    /* version desktop*/
    .fonctionnement {
        padding-left: 100px;
        padding-right: 100px;
        .bloc-choix {
            display: flex;
            flex-direction: row;
            //justify-content: space-between;
            .choix {
                min-width: 325px;
            }
        }
    }
    .card-menus{
        width: 98% !important;
        display: flex;
        justify-content: space-between;
        .card-menu{
            max-width: 370px;
        }
    }
    .restaurants {
        display: block;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 22px;
        width: 100%;
        
        img {
            width: 100%;
        }
        
    }

    main .cards-restaurant {
        
        flex-direction: row !important;
        width: 100%;
        justify-content: space-between;
        
    }
    .card{
        width: 450px !important;
    }
    .menu-footer {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        .logo-footer img {
            margin: 20px;
        }
    }
}
@media (min-width: 768px) {
    /*version tablette*/
    .fonctionnement {
        margin: 20px;
    }
    .card-menus{
        width: 100%;
    }
    .fiche-resto .card-menu{
        width: 98%;
        
    }
    main .card{
        width: 100%;
    }

    .cards-restaurant {
        flex-direction: column;
        img {
            width: 100%;
        }
    }
    .photo-restaurant img {
        width: 100%;
    }
    
}
