/*variables, mixins et %placeholder*/
$couleurPrimaire:#9356DC;
$couleurSecondaire:#FF79da;
$couleurTertiaire:#99E2D0;

$borderRadius:20px;
$borderRadiusRestaurant:12px;

/*$breakpoints: (
    tablette : 768px,
    desktop : 1024px
);*/
